<h2>New Note</h2>

<% if @note.errors.any? %>
	<ul>
		<% @note.errors.full_message.each do |msg| %>
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>


<%= form_for :note do |n| %>
	<p>
		<%= n.label :title %> </br/>
		<%= n.text_field :title %>
	</p>
	<p>
		<%= n.label :status %> </br/>
		<%= n.text_area :status %>
	</p>
	<p>
		<%= n.submit %>
	</p>

<%end%>