<h2>New Note</h2>



<%= form_for @summary do |n| %>
	<p>
		<%= n.label :title %> </br/>
		<%= n.text_field :title %>
	</p>
	<p>
		<%= n.label :status %> </br/>
		<%= n.text_area :status %>
	</p>
	<p>
		<%= n.submit %>
	</p>

<%end%>